//* !Account Layout */
//* ----------------------------------------------- */

.account-bg {
	background-color: $account-bg;
}

.account-container {
	position: relative;
	height: 100%;
	background-image: linear-gradient(to bottom right,  #5f7fa7, #060606);

	h1 {
		color: $account-color;
	}
}

.account-wrapper {
	text-align: center;
	.row {
		& > div {
			margin-bottom: 1em;
		}
	}

	label {
		color: $account-link-color;
	}
	.account-link {
		color: $account-link-color;
	}
	.account-link:hover {
		color: $account-link-hover-color;
	}

}

.account-form {
	padding: 0;
	margin-top: 2em;
	margin-bottom: 2em;

	text-align: left;

	.placeholder-hidden {
		display: none;
	}

	.form-control {
		height: 40px;

		padding-top: 8px;
		padding-bottom: 8px;
		margin-bottom: 1.25em;
	}

}

.account-body {
	position: relative;

	padding: 35px 30px 10px;
	margin-bottom: 1em;
	
	color: $account-body-color;

	@include border-top-radius (4px);
	@include border-bottom-radius (4px);
}

.account-footer {
	padding: 0 25px;
	margin-top: 1.5em;
}

.account-social-line {
	border-bottom: 1px solid grey;
	line-height: 0;
	text-align: center;
}
.account-or-social {
	font-size: 10px;
	color: $account-color;
	display: block;
	margin-top: 1em;
}

.account-remember {
	@extend .text-center;
}

.account-forget-pwd {
	@extend .text-center;
}

@media (min-width: $screen-md) {
	.account-wrapper {
		width: 450px;
		padding: 0;

		.row {
			& > div {
				margin-bottom: 0;	
			}
		}
	}

	.account-body {		
		.account-form { 
			padding: 0 25px;
			text-align: left;
		}
	}

	.account-or-social {
		margin-top: 2em;
	}

	.account-remember {
		float: left;
	}
	.account-forget-pwd {
		float: right;
	}
}