//* !Brand */
//* ----------------------------------------------- */

.brand-name {
	a, a:hover, a:active, a:focus {
		display: inline-block;
		padding: 8px;
		margin: 9px 0;
		color: rgba(238, 238, 238, 0.33);
		font-size: 32px;
		text-decoration: none;
	}

}