//* !Brand */
//* ----------------------------------------------- */

.brand-name {
	a {
		display: inline-block;
		padding: 8px;
		margin: 9px 0;
		color: rgba(238, 238, 238, 0.33);
		font-size: 32px;
	}

	a:hover, a:active, a:focus {
		color: #4a80c6 !important;
		text-decoration: inherit !important;
	}
}