//* !Portlets */
//* ----------------------------------------------- */

.portlet {
  position: relative;
  padding: 0;
  margin: 0 0 2em;
}

.portlet-header {
  padding: 0;
  margin-bottom: 20px;
}

.portlet-title {
  u {
    text-decoration: none;
  }
}

.portlet-icon {
  position: relative;
  top: -1px;
  margin-right: 10px;
  font-size: 16px;
}

.portlet-body {
  padding: 0;
  margin: 0;
  @include clearfix ();
}


.portlet-default {
  .portlet-title {
    position: relative;
    margin-bottom: 30px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      z-index: 9;
      background: #e6e6e6;
    }

    &:after {
      content: "";
      display: block;
      position: relative;
      z-index: 10;
      width: 80px;
      height: 1px;
      margin: 20px 0 0;
      background: $brand-secondary;
    }
  }
}


.portlet-plain {
  .portlet-header {
    background: none;
    border-bottom: 1px solid grey;

    h3 {
      color: #555;
    }
  }

  .portlet-title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;

    u {
      text-decoration: none;
    }

    &:after {
      content: "";
      display: block;
      position: relative;
      bottom: -20px;
      z-index: 100;
      width: auto;
      height: 4px;
      padding: 0 0 0 0;
      margin: 0 -35px 0 0;
    }
  }

  .portlet-body {
    padding: 30px 25px 25px;
    background-color: $box-bg-light;
  }
}

.portlet-boxed {
  .portlet-header {
    padding: 20px 20px;
  }

  .portlet-title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;

    u {
      text-decoration: none;
    }

    &:after {
      content: "";
      display: block;
      position: relative;
      bottom: -20px;
      z-index: 100;
      width: auto;
      height: 4px;
      padding: 0 0 0 0;
      margin: 0 -35px 0 0;
      background: $heading-bar-highlight-color;
    }
  }

  .portlet-body {
    padding: 30px 25px 25px;
  }
}

.portlet-bordered {
  .portlet-header {
    padding: 20px 20px;
    border: 1px solid #ddd;
    @include border-top-radius (5px);
  }

  .portlet-title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 18px;

    u {
      text-decoration: none;
    }

    &:after {
      content: "";
      display: block;
      position: relative;
      bottom: -22px;
      z-index: 100;
      width: auto;
      height: 1px;
      padding: 0 0 0 0;
      margin: 0 -35px 0 0;
      background: $heading-bar-highlight-color;
    }
  }

  .portlet-body {
    padding: 30px 25px 25px;

    border: 1px solid #ddd;
    //border-top: none;

    @include border-top-radius (5px);
    @include border-bottom-radius (5px);
  }

  .portlet-header+.portlet-body {
    border-top: none;
    @include border-top-radius (0);
  }

}



.portlet-table {

  .portlet-body {
    padding: 0;
  }

  .table-bordered {
    margin-top: -2px !important;
    margin-bottom: -2px !important;
    border-right: none;
    border-left: none;

    & > thead > tr > th:first-child,
    & > tbody > tr > td:first-child,
    & > tfoot > tr > th:first-child {
      padding-left: 20px;
    }

    & > thead > tr > th:last-child,
    & > tbody > tr > td:last-child,
    & > tfoot > tr > th:last-child {
      padding-right: 20px;
    }
  }

  .dataTables_filter,
  .dataTables_paginate {
    float: right;
    padding-right: 20px;
  }

  .dataTables_info,
  .dataTables_length {
    float: left;
    padding-left: 20px;
  }

  .dataTables_filter,
  .dataTables_length {
    padding-top: 13px;
    padding-bottom: 10px;
  }

  .dataTables_paginate,
  .dataTables_info {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dataTables_info {
    padding-top: 20px;
  }
}


.portlet-body {
  .layout {
    margin-top: -30px;
  }
}


.portlet-boxed {
  & {
    @include portlet-variant ($portlet-header-bg, $portlet-header-color);
    @include portlet-variant-body($portlet-body-bg)
  }

  &.portlet-inverse {
    @include portlet-variant ($portlet-inverse-header-bg, $portlet-inverse-header-color);
    @include portlet-variant-body($portlet-inverse-body-bg)
  }

  &.portlet-danger {
    @include portlet-variant ($portlet-danger-header-bg, $portlet-danger-header-color);
    @include portlet-variant-body($portlet-danger-body-bg)
  }

  &.portlet-warning {
    @include portlet-variant ($portlet-warning-header-bg, $portlet-warning-header-color);
    @include portlet-variant-body($portlet-warnings-body-bg)

  }

  &.portlet-success {
    @include portlet-variant ($portlet-success-header-bg, $portlet-success-header-color);
    @include portlet-variant-body($portlet-success-body-bg)
  }

  &.portlet-info {
    @include portlet-variant ($portlet-info-header-bg, $portlet-info-header-color);
    @include portlet-variant-body($portlet-info-body-bg)
  }

  &.portlet-primary {
    @include portlet-variant ($portlet-primary-header-bg, $portlet-primary-header-color);
    @include portlet-variant-body($portlet-primary-body-bg)
  }

  &.portlet-secondary {
    @include portlet-variant ($portlet-secondary-header-bg, $portlet-secondary-header-color);
    @include portlet-variant-body($portlet-secondary-body-bg)
  }

  &.portlet-tertiary {
    @include portlet-variant ($portlet-tertiary-header-bg, $portlet-tertiary-header-color);
    @include portlet-variant-body($portlet-tertiary-body-bg)
  }
}