.button-group {
    padding: 30px 0px 0px 10px;
    word-spacing: 5px;
}

.buy-sell-group {
    text-align: center;
    word-spacing: 5px;
}

.buy-sell-icon {
    font-size: 1.4em;
    word-spacing: 5px;
    text-align: center;
}


/********************************************************
/* landing-page
*********************************************************/

.home-header-box {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('../img/home/portfolio.jpg') center;
    background-size: cover;
    height: 100vh;
}

.home-header-box .title-box {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.home-header-box h1 {
    color: #ddd;
    font-size: 45px;
    font-weight: 300;
    line-height: 50pt;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    word-spacing: 3px;
}

.home-header-box .button-group {
    padding-top: 10px;
}

.home-header-box .highlight {
    background-color: rgba(13, 57, 97, 0.62);
}


/********************************************************
/* landing-page
*********************************************************/
.welcome-box {
    background-color: #f2f4f7;
    padding: 20px;
}

.create-button-box {
    text-align: right;
}


/********************************************************
/* sidebar navigation
*********************************************************/
.sidebar-nav a {
    color: #4c779e;
    text-transform: uppercase;
}

.sidebar-nav a.active{
    background-color: #f7f7f7;
    color: #4c779e;
    border-radius: 0px;
    border-left: 3px solid #4c779e;
}



/********************************************************
/* forms
*********************************************************/
.input-form {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    padding: 25px 40px;
}

.input-form .form-title {
    margin-bottom: 40px;
    font-size: 25px;
    color: #4c779e;
}

.input-form .buttons-row {
    padding: 25px 0px 10px 0px;
    word-spacing: 5px;
}


/********************************************************
/* input form
*********************************************************/
.input-form {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    padding: 25px 40px;
}

.input-form .form-title {
    margin-bottom: 40px;
    font-size: 25px;
    color: #4c779e;
}

.input-form .buttons-row {
    padding-top: 25px 0px 0px 10px;
}

/********************************************************
/* portfolio panel
*********************************************************/
.portfolio-panel .panel-title {
    /*border-bottom: 1px solid #4c779e;*/
    margin-bottom: 50px;
}

.portfolio-panel h2 {
    color: #4c779e;
}

.portfolio-panel .boxed-container {
    background-color: #f7f7f7;
    border: 1px solid #eee;
    padding: 20px 35px;
}

.portfolio-panel .value-caption {
    margin-bottom: 3px;
}
.portfolio-panel .value-highlight {
    font-size: 25px;
    font-weight: lighter;
    color: #f7f7f7;
    background-color: #4c779e;
    padding: 0px 8px;
}

.portfolio-panel .red {
    background-color: #a94442;
}

.portfolio-panel .neutral {
    background-color: black;
}

.portfolio-panel thead {
    background-color: #4c779e;
    color: whitesmoke;
}

.portfolio-panel table a {
    color: #ab977c;
}

.portfolio-panel img {
    width: 100px;
    height: 100px;
}

.portfolio-panel .header-text {
    border-bottom: 1px solid #4c779e;
}

.portfolio-panel .header-image {

}


/********************************************************
/* general
*********************************************************/

.pull-right {
    text-align: right;
}


/********************************************************
/* tables
*********************************************************/

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}

.summary-table {
    line-height: 30px;
}

.summary-table .table-value {
    font-size: 18px;
    padding-left: 40px;
}

.summary-table .table-key {

}


/********************************************************
/* input fields
*********************************************************/

input::-webkit-input-placeholder {
color: #ccc !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #ccc !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #ccc !important;  
}
 
input:-ms-input-placeholder {  
color: #ccc !important;  
}

/********************************************************
/* 404 page
*********************************************************/

.error-template {
    padding: 40px 15px;
    text-align: center;

}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.error-actions .btn {
    margin-right:10px;
}