/*************************login or signup form********************/
.my-login-form{
	padding: 30px 20px;
	border:$default-border;
}
.form-btm-link a{
	color:$skincolor;
}
.form-btm-link a:hover{
	text-decoration: underline;
}
.form-btm-link span{
	margin:0px 20px;
	font-family: $secondry-font;
	font-style: italic;
	font-size: 23px;
}