
.setup-panel {
	border: 1px solid #ccc;
  	margin-bottom: 30px;

	  .panel-heading {
			border-bottom: 1px solid #ccc;
			line-height: 1px;
			background-color: #eee;
	  }

	  .panel-heading h3, h4 {
			margin: 0px !important;
			color: #555;
	  }

	  .sub-heading {
			padding: 15px;
			margin-bottom: 15px;
	  }

	  .sub-heading h4 {
			background-color: aliceblue;
	  }

	  .sub-title {
			border-bottom: 1px solid #ddd;
			padding: 5px;
	  }

	  .panel-title {
			background-color: #4c779e;
			color: white;
			margin: auto;
			padding: 5px;
	  }

	  .panel-body {
			padding: 5px;
	  }

	  label {
			font-weight: bold;
			color: #555;
	  }

	  .remark {
			line-height: 50px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
			font-size: 1.1em;
	  }

	  [type=checkbox], [type=radio] {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0;
			margin-right: 5px;
	  }
}

