
// Colors
$body-bg: #ffffff;
$white:  				#fff !default;
$brand-primary:      #FFD300;
$wrapper-bg:			#fff;
$overlay-dark:			rgba(34,34,34, 0.5);
$secondary-bg:			#b9b9b9;
$skincolor: 			#4c779e;
$lightcolor:			#fff; //white color and background
$graycolor:				#777; //gray color for p tags
$darkcolor:				#333; //dark color for heading
$alert-color:			red; //alert color

// Boarder
$default-border: 1px solid #eee;


// Typo
$base-line-height:			24px;
$primary-font: 				'Open Sans', sans-serif; //default font family
$secondry-font: 				'Playfair Display', serif; //sub title font family
$title-font:					'Raleway', sans-serif;
$base-font-size:				13px; //default basic font size
$font-family-sans-serif:  	'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-serif:       	'Merriweather', Georgia, "Times New Roman", Times, serif ;
$font-size-base:          	1rem;
$font-size-large:         	ceil(($font-size-base * 1.5)) !default; // ~18px
$font-size-small:         	ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-huge:         	ceil(($font-size-base * 1.75)) !default;
$line-height-base:        	1.6 ;
$text-color:             	#666666;
$link-color:				$brand-primary;
$secondary-text-color:		#ffffff;
$contrast-text-color:		#000000; // #000000 Demo 1 // #ffffff Demo 2 // #ffffff Demo 3


$font-size-h1:            floor(($font-size-base * 8.0)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 3.5)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 2.75)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 2)) !default; // ~18px
$font-size-h5:            ceil(($font-size-base * 1.5)) !default;
$font-size-h6:            ceil(($font-size-base * 1.25)) !default; // ~12px
$headings-font-weight:    300 !default;

// The Grid
$grid-gutter-width:         120px !default;
$wrapper-padding:			($grid-gutter-width * 1.25);

// Buttons
$btn-primary-color:              $contrast-text-color;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 0%) !default;
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

// Padding
$padding-base-vertical:     ($font-size-base * 0.25);
$padding-base-horizontal:   ($font-size-base * 2);

$padding-large-vertical:    ($font-size-base * 0.5);
$padding-large-horizontal:  ($font-size-base * 4);

$padding-small-vertical:    ($font-size-base * 0.125);
$padding-small-horizontal:  ($font-size-base * 1);

$padding-xs-vertical:       ($font-size-base * 0.075);
$padding-xs-horizontal:     ($font-size-base * 0.5);

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;



// Navbar Links
$navbar-default-link-color:                #ffffff;
$navbar-default-link-hover-color:          #ffffff;
$navbar-default-link-hover-bg:             $brand-primary;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #000 !important;
$navbar-default-toggle-icon-bar-bg:        $secondary-text-color !important;
$navbar-default-toggle-border-color:       $secondary-text-color;



// Navbar
$navbar-inverse-color: 						#213645 !default;
$navbar-inverse-hover-color:           rgba($white,.75) !default;
$navbar-inverse-active-color:          rgba($white,1) !default;
$navbar-inverse-disabled-color:        rgba($white,.25) !default;
$navbar-inverse-toggler-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-inverse-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-inverse-toggler-border:        rgba($white,.1) !default;





