$box-background-color: #e2e9f5;


// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";


// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



//portfolio-container
.portfolio-container {

  h2 {
    display: inline-block;
    margin: 0px;
  }

  a {
    padding-left: 10px;
  }

  .portfolio-header {
    height: 51px;
    line-height: 36px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $box-background-color;
  }

  .portfolio-content {
    display: flex;

  }

  .content-cell {
    width: 100%;

  }
}


.nav-portfolio {
  @extend .navbar-nav;
  background-color: $box-background-color;
  margin-right: 20px;

  li {
    list-style-type: none;
    padding: 10px;
  }

  ul {
    padding: 0px;
  }
}

.value-box {
  @extend .pull-right;
  display: inline-block;

  .label {
    color:black;
  }
}









.btn {
  margin: auto 5px;
}




