// top navigation bar
.app-bar {
  @extend .navbar-inverse;
  height: 50px;
  margin-bottom: 20px;
}

.app-bar--nav {
  @extend .nav;
  @extend .navbar-nav;
  @extend .pull-right;
}

.app-bar--nav > .open > a:focus {
  background-color: #ecf0f1;
}