// ------------------------------------------------------
// Layout
// ------------------------------------------------------

.ct-panel {
  @extend .panel;
  @extend .panel-primary;
}

.ct-panel__ct-header {
  @extend .panel-heading;
}

.ct-panel__ct-nav {
}

.ct-panel__ct-body {
  @extend .panel-body;
}


// ------------------------------------------------------
// Modules
// ------------------------------------------------------

.ct-header {
  .title {
    display: inline;
  }

  a {
    padding-left: 10px;
    color: white;
  }
  icon {
    padding: 0 3px;
    color: white;
  }
}


.ct-nav {
  ul {
    @extend .nav;
    @extend .nav-tabs;
  }
  li {

  }
}


.ct-header__key-figures{
  @extend .pull-right;
}


// ------------------------------------------------------
// Variants
// ------------------------------------------------------

.ct-panel--create {
  @extend .ct-panel;

}

.ct-panel--edit {
  @extend .ct-panel;

}

