// ------------------------------------------------------
// Layout
// ------------------------------------------------------

.portfolio {
}


.portfolio--nav {
  margin: 40px 0px 20px 0px;
  ul {
    @extend .nav;
    @extend .nav-tabs;
  }
  li {

  }
}


// ------------------------------------------------------
// Modules
// ------------------------------------------------------

.portfolio-title{

  margin-bottom: 20px;

  .title {

    display:inline;

  }

  .subtitle {

  }
}




