.portfolio-container {
  @extend .container;
}

.portfolio-container__portfolio-header {
  display: grid;
  line-height: 36px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: $box-background-color;

  .title {
    @extend h4;
  }

  icon {
    padding: 0 3px;
  }
}


.portfolio-container__portfolio-nav {
  margin-right: 20px;
  max-width: 200px;
  float: left;
}

.portfolio-container__portfolio-body {
}

.portfolio-nav {
  background-color: $box-background-color;
  ul { padding: 0px; }
  li {
    list-style-type: none;
    padding: 10px;
  }
}




.portfolio-header{
  h4 {
    display: inline-block;
    margin: 0px;
  }

  a {
    padding-left: 10px;
  }
}

.portfolio-header__key-figures{
  @extend .pull-right;
}






